/* Post box */
div.box {
	list-style-type: none;
	line-height: 1;
	background-color: var(--background-second);
	border-color:var(--background-third);
	margin-bottom: 1rem;
	padding: 1rem;
}
div.box:hover {
	background-color: var(--background-third);
}

div.box a {
	text-decoration: none;
}

/* Post box metadata */
div.box h2.title {
	color: var(--font-first);
}
div.box:hover h2.title {
	text-decoration: underline;
}

p.description, div.date, div.tag_box {
	color: var(--font-second);
	text-align: left;
}

div.date {
	font-style: italic;
	text-align: left;
	margin-bottom: 1rem;
}

div.box div.tag_box {
	margin-bottom: 1rem;
	display: inline-flex;
	align-items: center;
	padding: 0.1rem 0.5rem;
	border: 0.1rem solid var(--font-second);
	margin-right: 0.5rem;
	border-radius: 5px;
	background-color: var(--background-second);
	color: var(--font-second);
	width: auto;
}
